<!DOCTYPE html>
<html>
<head>
  <title>Inkubator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div ng-app="ink" ng-controller="ktrl">
    <div ng-repeat="idea in ideas">
      <div class="idea">
        <span>{{ idea.id }}</span>
        <span>{{ idea.plaintext }}</span>
      </div>
    </div>
</div>

<%= render :template =>  'submit_box/index' %>

<%= yield %>

</body>
</html>
